Buoi_3/Bai2/orders.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- Gốc -->
    <xs:element name="orders">
        <xs:complexType>
            <xs:sequence>
                <!-- Mỗi order -->
                <xs:element name="order" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <!-- Mỗi product trong order -->
                            <xs:element name="product" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="name" type="xs:string"/>
                                        <xs:element name="quantity" type="xs:integer"/>
                                    </xs:sequence>
                                    <!-- id của product (unique trong mỗi order) -->
                                    <xs:attribute name="id" type="xs:string" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <!-- id của order là duy nhất trong toàn bộ tài liệu -->
                        <xs:attribute name="id" type="xs:ID" use="required"/>
                    </xs:complexType>
                    
                    <!-- Ràng buộc: product id phải duy nhất trong từng order -->
                    <xs:unique name="uniqueProductId">
                        <xs:selector xpath="product"/>
                        <xs:field xpath="@id"/>
                    </xs:unique>

                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
<!-- Bài 1.3 của buổi 2 -->
